.product-detail-container{
  display: block;
  width: 100%;
  //height: auto;
  background-size: cover;
  background-repeat: no-repeat;
  //background-image: url("../../resources/images/ong_1.jpg");
  min-height: 120vh;

}

.product-detail-description {
  padding: 24px 150px;
  width: 60%;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 2px;
  font-size: 15px;


  .product-category {
    font-size: 32px;
  }

  .product-name {
    font-size: 32px;
    font-weight: bold;
  }

  .product-price {
    //font-size: 15px;
    margin-top: 8px;
  }

  .product-description {
    margin-top: 48px;
    line-height: 2;
  }

  .product-detail-title {
    margin-top: 48px;
    margin-bottom: 16px;
    font-weight: bold;
    transition: all .25s ease;

    div {
      cursor: pointer;
      text-decoration: none;
    }

    :hover {
      color: #86a746;
      transition: all .25s ease;
    }
  }
}

@media (max-width: 992px) {

}


.product-purchase {
  display: flex;
  align-items: center;
  padding: 24px 150px;
  background: #f5f5f5;
}

.product {
  img {
    object-fit: contain;
    width: 99vw;
    height: auto;
  }

  .product-others {
    margin: 84px 0;
    text-align: center;
    font-size: 32px;
    font-family: "Roboto Condensed", sans-serif;
  }

  .product-slider {
    
  }

  .back-to-home {
    text-align: center;
    margin: 50px;

    button {
      padding: 20px 30px;
      border-radius: 0;
      font-family: "Roboto Condensed", sans-serif;
      font-size: 18px;
      font-weight: bold;
      cursor: pointer;

      position: relative;
      border: 1px solid #2E8b57;
      transform: perspective(1px) translateZ(0);
      -webkit-transform: perspective(1px) translateZ(0);
      background-color: #2E8b57;
      color: white;
      text-transform: uppercase;
    }

    button::before {
      content: '';
      z-index: -1;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      transform: scaleX(0);
      -webkit-transform: scaleX(0);
      transform-origin: 50%;
      -webkit-transform-origin: 50%;
      background-color: white;
      transition: -webkit-transform 0.3s ease-out;
      transition: transform 0.3s ease-out;
      transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
    }

    button:hover {
      color: #2E8b57;
    }

    button:hover::before {
      transform: scaleX(1);
      -webkit-transform: scaleX(1);
    }
  }

  .back-to-top {
    color: white;
    background-color: #2E8b57;
    text-align: end;
    padding: 12px 72px;
    font-size: 32px;
    font-family: "Roboto Condensed", sans-serif;
    cursor: pointer;
  }
}
