#about-us {
    #company-name {
        img {
            max-width: 400px;
            padding-left: 60px;
        }
    }

    p {
        font: 16px 'Montserrat', sans-serif;
        font-weight: 400;
        line-height: 25px;
        padding: 0 90px;
    }

    // .au-title {
    //     font-weight: 600;
    // }

    // .au-content {
    //     * {
    //         width: auto;
    //         display: inline;
    //         border: 1px solid red;
    //     }
    // }
}