#thank-you {
    padding: 60px 90px 20px 90px;

    h5 {
        font: 16px 'Montserrat', sans-serif;
        font-weight: 400;
        line-height: 25px;
        padding-bottom: 20px;
    }

    h4 {
        font: 18px 'Montserrat', sans-serif;
        font-weight: bold;
        line-height: 25px;
        padding-bottom: 20px;
    }
}

#about-us {
    margin-bottom: 10vh;

    #company-name {
        img {
            max-width: 400px;
            padding-left: 60px;
        }
    }

    p {
        font: 16px 'Montserrat', sans-serif;
        font-weight: 400;
        line-height: 25px;
        padding: 0 90px;
    }

    // .au-title {
    //     font-weight: 600;
    // }

    // .au-content {
    //     * {
    //         width: auto;
    //         display: inline;
    //         border: 1px solid red;
    //     }
    // }
}