.container {
  background-color: white;
  top: 0;
  z-index: 99;
  width: 98.5%;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  box-shadow: 0px 3px 2px -2px #b5b5b5;  
  // border-bottom: 2px solid #465724;
}

.menu-logo {
  // flex: 2;
  // display: flex;
  // align-items: center;
  // flex: 0 0 50%;
  padding: 10px 0 10px 150px;

  img {
    margin-top: 10px;
    height: 70px;
    background-color: transparent;
  }

  img:hover {
    cursor: pointer;
    opacity: 0.7;
    transition: all .25s ease;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
  }
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(-360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(-360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(-360deg); transform:rotate(-360deg); } }

.menu {
  // flex: 0 0 50%;
  height: auto;
  position: sticky;
  position: -webkit-sticky;

  ul {
    height: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    li {
      font-size: 1rem;
      margin: 0 16px;
    }
  }

  .menu-item {
    color: #86a746;
    display: block;
    font: 17px 'Montserrat', sans-serif;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
    padding: 0;
    margin: 0px 25px 0 25px;
    cursor: pointer;
  }
  .menu-item:hover {
    text-decoration: dashed;
    color: #465724;
    // border-bottom: 3px solid #465724;
    // font-size: x-large;
  }
}