.container {
  background-color: blue;
  height: 20vh;
  position: fixed;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #86a746;

  .logo {
    flex: 2;
    display: flex;
    align-items: center;

    img {
      height: 5vh;
      background-color: transparent;
    }
  }

  .header {
    flex: 1;
    width: 100vh;
    height: 100%;
    align-items: center;
    ul {
      height: 100%;
      list-style: none;
      display: flex;
      justify-content: center;
      align-items: center;
      li {
        font-size: 1rem;
        margin: 0 16px;
      }

    }
  }
}


