.menu {
	top: 0;
	width: 100%;
	position: sticky;
	position: -webkit-sticky;
	z-index: 99;
	background-color: white;
}

.menu ul, .menu li {
	margin: 0;
	padding: 5px 0 5px 0;
}
.menu ul {
	list-style: none;
    width: 100%;
    display: flex;
	justify-content: space-between;
}

.menu li {
	float: left;
	position: relative;
	width:auto;
}

.menu a {
	background: white;
	color: #86a746;
	display: block;
	font: 20px/30px sans-serif;
	padding: 10px 25px 0 25px;
	text-align: center;
	text-decoration: none;
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-ms-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease;
}

#menu-items {
	// width: 70%;
	flex: 7;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

#menu-items a:hover {
	text-decoration: dashed;
	color: #465724;
	font-size: x-large;
}

#menu-logo {
	// width: 30%;
	flex: 3;
	align-self: center;
}

#menu-logo img {
    // width: auto;
    height: 50px;
}

#menu-logo img:hover {
	opacity: 0.5;
	transition: all 0.6s ease 0.1s;
}

/*#submenu {
	left: 0;
	opacity: 0;
	position: absolute;
	top: 35px;
	visibility: hidden;
	z-index: 1;
}
li:hover ul#submenu {
	opacity: 1;
	top: 40px;*/	/* adjust this as per top nav padding top & bottom comes */
	/*visibility: visible;
}
#submenu li {
	float: none;
	width: 100%;
}
#submenu a:hover {
	background: #DF4B05;
}
#submenu a {
	background-color:#000000;
}*/