.container {
  background-color: white;
  top: 0;
  z-index: 99;
  width: calc(100% - 20px);
  height: 9vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  box-shadow: 0px 3px 2px -2px #b5b5b5;
}

.menu-logo {
  width: auto;
  height: 100%;
  padding: 8px 0 8px 150px;
  &-logo {
    height: 100%;
    width: auto;
  }
}

.menu-container {
  height: 100%;

  .menu {
    display: flex;  
    height: 100%;
    align-items: center;
    padding-right: 5vw;
  
    .menu-item {
      justify-self: flex-end;
      height: 100%;
      margin: 0 25px;
      padding-top: 3.2vh;
      color: #2E8b57;
      font: 1rem 'Montserrat', sans-serif;
      list-style: none;
      text-decoration: none;
      cursor: pointer;
      border-bottom: 3px solid transparent;
      -webkit-transition: all 0.25s ease;
      -moz-transition: all 0.25s ease;
      -ms-transition: all 0.25s ease;
      -o-transition: all 0.25s ease;
      transition: all 0.25s ease;
  
      #link-router {
        color: #2E8b57;
        text-decoration: none;
      }
    }

    .menu-item:hover, .menu-item:hover #link-router {
      color: #465724;
    }
    
    .menu-item::after {
      content: '';
      display: block;
      margin-top: -2.5vh;
      width: 0;
      height: 100%;
      border-bottom: 3px solid #465724;
      transform: scaleX(0);
      -webkit-transform: scaleX(0);
      transform-origin: 0%;
      -webkit-transform-origin: 0%;
      transition: -webkit-transform 0.3s ease-out;
      transition: transform 0.3s ease-out;
      transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;  
    }
  
    .menu-item:hover::after {
      transform: scaleX(1);
      -webkit-transform: scaleX(1);
      width: 100%;
    }
  }
}
