// General styles go here
html {
    font-size: 16px;
    height: 100%;
}

body {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 100%;
    background-color: white;
}

h1,
h2 {
    margin-top: 0;
}

h1 {
    margin-bottom: 16px;
    font-size: 24px;
    font-weight: 700;
}

h2 {
    margin-bottom: 12px;
    font-size: 18px;
    font-weight: 400;
}

img {
    max-width: 100%;
    max-height: 100%;
}


/*-Buttons-*/
button {
    padding: 0;
    background: none;
    cursor: pointer;
    outline: none;
    border: 0;
    position: relative;
    width: 55px;
    height: 420px;
    transition: all 0.6s ease 0.1s;
    font-size: 40px;
}

button:hover {
    background-color: #e9e8e8;
}

li {
    list-style: none;
}