// Generic
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  background-color: #e4e4e4;
}

body {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 100%;
  background-color: white;
  margin: 10px;
}

.app-class {
  margin: auto;
}

h1 {
  color: #86a746;
}