.slider {
  display: flex;
  justify-content: center;
  align-items: center;

  .slider-container {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    align-items: center;
    justify-content: flex-start;
    margin: 18px;
    width: 200px;
    height: auto;
  }

  .multiple-slider-image {
    display: flex;
    justify-content: center;
    overflow: hidden;

    img {
      max-width: 185px;
    }

    img:hover {
      cursor: pointer;
      transform: scale(1.2, 1.2);
      transition: all .5s ease;
    }
  }

  .multiple-slider-name {
    margin: 24px 0;
    font-size: 16px;
    min-width: 0;
  }
}
